################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KeiroGenesis
/.vs/KeiroGenesis/FileContentIndex
/.vs/KeiroGenesisPro/DesignTimeBuild
/.vs/KeiroGenesisPro/v17
/.vs
